@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.headfont{
    font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.headfontv-2{
    font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 55px;}

.headfontv-3{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}
* a{
  list-style: none;
  color: black;
  text-decoration: none;
}

.h2{
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  /* font-style: italic; */
  font-size: 14px;
}

.h1{
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  /* font-style: italic; */
  /* font-size: 12px; */
  text-align: center;
}

.invert{
    filter: invert(1);
}

.text-white{
  color: white;
}

.curser-p{
    cursor: pointer;
}
.hover:hover{
  color: rgb(150, 148, 148);
}

.shadowlite{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.shadowDeep{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.blure{
  backdrop-filter: blur(6px); /* Apply the blur effect */
}


